.navbarZ {
  z-index: 999999999;
}
/* Scrollbar Track (background) */
::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 12px; /* Horizontal scrollbar height */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* White background for track */
  border-radius: 10px;
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #000000; /* Black thumb */
  border-radius: 10px;
  border: 3px solid #ffffff; /* Gives some spacing */
}

/* Optional: Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #333333; /* Darker black on hover */
}

.wrapper {
  width: 100%;
  height: 540px; /* Use container's height instead of 100vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%; /* Make slider fit its container */

  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%; /* Fill the slider container */
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Second Slider Styling  */
.wrapper2 {
  width: 100%;
  height: 100%; /* Use container's height instead of 100vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider2 {
  width: 100%;
  height: 100%; /* Make slider fit its container */

  position: relative;
  overflow: hidden;
}

.slide2 {
  width: 100%;
  height: 100%; /* Fill the slider container */
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3 {
  z-index: 999999 !important;
}

/* From Here The Font Families Are Initialize */
@font-face {
  font-family: monster_mdm;
  src: url(./static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: monster_semiBold;
  src: url(./static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: monster_regular;
  src: url(./static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: lato_regular;
  src: url(./Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: lato_bold;
  src: url(./Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: lato_mdm;
  src: url(./Lato/Lato-Black.ttf);
}

/* Bottom Carousel Logic Is Written Here  */
.item {
  opacity: 1;
  transition: 0.4s ease all;
  margin: 0 20px;
  transform: scale(0.8);
  cursor: grab;
}
@media (max-width: 1000px) {
  .item {
    margin: 0;
    transform: scale(0.9);
  }
}
.active .item {
  opacity: 1;
  transform: scale(1);
}
body {
  padding: 0;
  margin: 80px 0 0 0;
  font-family: Merriweather;
  background: #f0e8d5;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.inner {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.inner a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease border-color;
}
.inner a:hover {
  border-color: #fff;
}
.black .inner a {
  color: #000;
  border-color: rgba(0, 0, 0, 0.4);
}
.black .inner a:hover {
  border-color: #000;
}
.owl-carousel {
  margin-top: 22rem;
}

.owl-controls {
  position: absolute;
  margin-top: 300px;
}
